In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from matplotlib.ticker import FuncFormatter

wdi = pd.read_csv("WDIData.csv")
print(wdi.shape)

(422136, 64)

In [43]:
data = pd.read_csv('WDIData.csv')
data.shape

(422136, 64)

In [44]:
data.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.368101,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.007620,86.428272,87.070576,88.176836,87.342739,89.130121,89.678685,90.273687,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.466653,73.942103,75.244104,77.162305,75.538976,78.741152,79.665635,80.749293,NaN,NaN
5,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.704618,95.939242,95.962166,96.352930,95.997833,96.649916,96.834184,97.003974,NaN,NaN
6,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN
7,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,13.775815,NaN,NaN,22.079350,NaN,NaN,25.635403,NaN,NaN
8,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.377668,NaN,NaN,37.790764,NaN,NaN,48.328518,NaN,NaN
9,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.741285,NaN,NaN,34.216583,NaN,NaN,42.542046,NaN,NaN

In [51]:
arms_stage = data[data['Indicator Name'].str.contains('Arms exports \(SIPRI')]
arms_stage.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
97,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,3000000.0,NaN,9000000.0,8000000.0,2000000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1696,Caribbean small states,CSS,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3295,Central Europe and the Baltics,CEB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,5000000.0,5000000.0,12000000.0,111000000.0,237000000.0,234000000.0,...,NaN,NaN,157000000.0,353000000.0,NaN,NaN,NaN,NaN,NaN,NaN
4894,Early-demographic dividend,EAR,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,27000000.0,33000000.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6493,East Asia & Pacific,EAS,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,286000000.0,98000000.0,155000000.0,26000000.0,81000000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.180000e+09,NaN,NaN